.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
}

.Materials {
  position: absolute;
  background-image: linear-gradient(black, grey);
  width: 100%;
  height: 100%;
}

.title {
  position: absolute;
  top: 1vh;
  left: 2vw;
  font-family: "Orbitron", sans-serif;
  font-size: 62px;
  color: rgb(4, 210, 4);
}

.tablet-front {
  position: absolute;
  width: 60vw;
  height: 80vh;
  top: 10vh;
  left: 20vw;
  background-color: lightgray;
  border: 2px solid black;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  z-index: 3;
}

.tablet-back {
  position: absolute;
  width: 60vw;
  height: 80vh;
  top: 9vh;
  left: 21vw;
  background-color: gray;
  border: 2px solid black;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  z-index: 1;
}

.button-right-front {
  position: absolute;
  width: 8vw;
  height: 30vh;
  top: 10vh;
  left: 80vw;
  background-color: lightgray;
  border: 2px solid black;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  z-index: 2;
}

.button-right-back {
  position: absolute;
  width: 8vw;
  height: 30vh;
  top: 9vh;
  left: 81vw;
  background-color: gray;
  border: 2px solid black;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  z-index: 1;
}

.button-left-front {
  position: absolute;
  width: 8vw;
  height: 30vh;
  top: 60vh;
  left: 12vw;
  background-color: lightgray;
  border: 2px solid black;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  z-index: 2;
}

.button-left-back {
  position: absolute;
  width: 8vw;
  height: 30vh;
  top: 59vh;
  left: 13vw;
  background-color: gray;
  border: 2px solid black;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  z-index: 1;
}

.holo-main {
  position: absolute;
  width: 50vw;
  height: 70vh;
  top: 15vh;
  left: 25vw;
  background-color: rgb(4, 210, 4);
  border: 2px solid rgb(4, 244, 4);
  border-radius: 100px;
  z-index: 3;
}

.holo-button-right {
  position: absolute;
  width: 6vw;
  height: 22vh;
  top: 14vh;
  left: 81vw;
  background-color: rgb(4, 210, 4);
  border: 2px solid rgb(4, 244, 4);
  border-radius: 50px;
  z-index: 3;
}

.holo-button-left {
  position: absolute;
  width: 6vw;
  height: 22vh;
  top: 64vh;
  left: 13vw;
  background-color: rgb(4, 210, 4);
  border: 2px solid rgb(4, 244, 4);
  border-radius: 50px;
  z-index: 3;
}

.toHome {
  position: absolute;
  width: 6vw;
  height: 22vh;
  top: 65vh;
  left: 12.5vw;
  background-color: rgb(4, 160, 4);
  border: 2px solid rgb(4, 244, 4);
  border-radius: 50px;
  opacity: 0.6;
  font-size: 3.5vw;
  text-align: right;
  z-index: 5;
}

.toHome p {
  position: absolute;
  text-align: right;
  top: 6vh;
  left: -1.5vw;
  font-size: 3.2vh;
  rotate: -90deg;
  font-family: "Orbitron", sans-serif;
}

.toHome:hover {
  background-color: darkcyan;
  transition: 0.3s ease;
  color: white;
}

.toMessaging {
  position: absolute;
  width: 6vw;
  height: 22vh;
  top: 15vh;
  left: 80.5vw;
  background-color: rgb(4, 160, 4);
  border: 2px solid rgb(4, 244, 4);
  border-radius: 50px;
  opacity: 0.6;
  font-size: 3.5vw;
  text-align: left;
  z-index: 5;
}

.toMessaging p {
  position: absolute;
  text-align: right;
  top: 8vh;
  left: 1.6vw;
  font-size: 2vh;
  rotate: 90deg;
  font-family: "Orbitron", sans-serif;
}

.toMessaging:hover {
  background-color: darkcyan;
  transition: 0.3s ease;
  color: white;
}

.to-admin-back {
  position: absolute;
  width: 8vw;
  height: 15vh;
  top: 30vh;
  left: 6vw;
  background-color: gray;
  border: 2px solid black;
  border-radius: 50px;
  z-index: 1;
}

.to-admin-front {
  position: absolute;
  width: 8vw;
  height: 15vh;
  top: 31vh;
  left: 5vw;
  background-color: lightgray;
  border: 2px solid black;
  border-radius: 50px;
  z-index: 2;
}

.to-admin-holo {
  position: absolute;
  width: 6vw;
  height: 11vh;
  top: 33vh;
  left: 6vw;
  background-color: rgb(4, 210, 4);
  border: 2px solid rgb(4, 244, 4);
  border-radius: 50px;
  z-index: 3;
}

.toAdmin {
  position: absolute;
  width: 6vw;
  height: 11vh;
  top: 33.5vh;
  left: 5.5vw;
  background-color: rgb(4, 160, 4);
  border: 2px solid rgb(4, 244, 4);
  opacity: 0.6;
  font-size: 1vw;
  font-family: "Orbitron", sans-serif;
  border-radius: 50px;
  z-index: 4;
}

.toAdmin:hover {
  background-color: darkcyan;
  transition: 0.3s ease;
  color: white;
}

.signin {
  position: absolute;
  width: 6vw;
  height: 22vh;
  top: 65vh;
  left: 12.5vw;
  background-color: rgb(4, 160, 4);
  border: 2px solid rgb(4, 244, 4);
  border-radius: 50px;
  opacity: 0.6;
  font-size: 2vw;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  z-index: 5;
}

.signin:hover {
  background-color: darkcyan;
  transition: 0.3s ease;
  color: white;
}

.signup {
  position: absolute;
  width: 6vw;
  height: 22vh;
  top: 65vh;
  left: 12.5vw;
  background-color: rgb(4, 160, 4);
  border: 2px solid rgb(4, 244, 4);
  border-radius: 50px;
  opacity: 0.6;
  font-size: 2vw;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  z-index: 5;
}

.signup:hover {
  background-color: darkcyan;
  transition: 0.3s ease;
  color: white;
}

.login {
  position: absolute;
  width: 6vw;
  height: 22vh;
  top: 15vh;
  left: 80.5vw;
  background-color: rgb(4, 160, 4);
  border: 2px solid rgb(4, 244, 4);
  border-radius: 50px;
  opacity: 0.6;
  font-size: 2.3vw;
  font-family: "Orbitron", sans-serif;
  text-align: center;
  z-index: 5;
}

.login:hover {
  background-color: darkcyan;
  transition: 0.3s ease;
  color: white;
}

.create-account {
  position: absolute;
  width: 6vw;
  height: 22vh;
  top: 15vh;
  left: 80.5vw;
  background-color: rgb(4, 160, 4);
  border: 2px solid rgb(4, 244, 4);
  border-radius: 50px;
  opacity: 0.6;
  font-size: 1vw;
  font-family: "Orbitron", sans-serif;
  text-align: center;
  z-index: 5;
}

.create-account:hover {
  background-color: darkcyan;
  transition: 0.3s ease;
  color: white;
}
